<ion-content>

<ion-grid>
<ion-row style="text-align: center;">
  <ion-col>

    <ion-text *ngIf="info_de_la_fase_actual" style="text-align:center; font-family: Poppins; color:black; font-size:large;">

      <a style="color:black;">Launchpad <a style="color:black; font-weight: 800;">Phase</a></a>
      <a *ngFor="let fase of respuestadewerathonobtenertablafase">
          <a *ngIf="fase.estafase=='1'" style="color:black; font-weight: 700;">{{info_de_la_fase_actual.numero}}
          </a>
      </a> esta en vivo.<br>
    
      Precio de <a style="color:black; font-weight: 800;">${{precio_wera_usd| number : '1.2-2'}}</a> USD por <a style="color:black; font-weight: 800;">1 WERA.</a><br>
    
      <ion-grid>
        <ion-row>
    
          <ion-col  style="text-align: left;" >
            <a style="color:black; font-weight: 800; font-size:x-large;">{{limiteinicialfaseusd}}$</a>
          </ion-col>
          <ion-col style="text-align:right;">
           <ion-text  style="text-align:right; color:black; font-weight: 800; font-size:x-large;" > {{info_de_la_fase_actual.limitefaseusd}}$</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      
      ${{saldo_de_app}} USD Recaudados total<br>
      <a style="color:black; font-weight: 800;">
        Precio por WERA en la Fase {{info_de_la_siguiente_fase.numero}} será de ${{precio_wera_usd+0.01| number : '1.2-2'}}
      </a>
    
    </ion-text>

  </ion-col>
</ion-row>
</ion-grid>


</ion-content>

